_build/
dist/db
*.byte
*.native
*.bak
*.install
*.merlin
tmp
.sass-cache/*
dist/resources/css/table.css
dist/resources/css/*.map
dist/resources/js/*.js
!dist/resources/js/adapter.min.js
!dist/resources/js/chartjs-plugin-deferred.min.js
!dist/resources/js/Chart.min.js
!dist/resources/js/Chart.PieceLabel.min.js
!dist/resources/js/janus.nojquery.js
!dist/resources/js/material-components-web.min.js
!dist/resources/js/moment.min.js
dist/backend
dist/config.json