_build/
dist/db
*.byte
*.native
*.bak
*.install
*.merlin
tmp
.sass-cache/*
dist/resources/css/table.css
dist/resources/css/*.map
dist/resources/js/home.js
dist/resources/js/demo.js
dist/resources/js/configuration.js
dist/resources/js/hardware.js
dist/resources/js/input.js
dist/resources/js/pipeline_editor.js
dist/resources/js/pipeline_video.js
dist/resources/js/user.js
dist/resources/js/topology.js
dist/resources/js/network.js
dist/backend
dist/config.json